/*
* {
  outline: solid 1px red;
}
*/
body {
  margin: 0;
  font-family: 'Rakkas'; }

/********************************************************************* PRELOADING *************************************************************************************/
.no-show {
  overflow: hidden; }

.loading-page {
  z-index: 9999999;
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; }
  .loading-page .counter {
    text-align: center; }
    .loading-page .counter h1 {
      font-size: 50px;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #FFFFB7;
      margin-top: -10px; }
    .loading-page .counter hr {
      background-color: #FFFFB7;
      border: none;
      height: 1px; }

/********************************************************************* BACKGROUND *************************************************************************************/
#background-video {
  visibility: visible;
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-position: center;
  overflow: hidden; }

#background-video-mobile {
  display: none; }

/********************************************************************* NAV BAR *************************************************************************************/
.tab {
  visibility: hidden;
  z-index: 9000;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }
  .tab ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 40px;
    margin-top: 25px;
    margin-bottom: 20px; }
  .tab li {
    width: 150px;
    height: 30px;
    text-align: center; }
  .tab p {
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em; }
  .tab a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px; }
  .tab .tab q:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .tab .tab p:hover:after {
    width: 100%;
    left: 0; }
  .tab__logo__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tab__logo__icon {
    width: 40%;
    margin-left: 0px; }

/********************************************************************* WELCOME *************************************************************************************/
.welcome {
  background-image: url(images/welcome/ezgif-4-3c585fc60c-jpg/ezgif-frame-001.jpg);
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }

/********************************************************************* ABOUT *************************************************************************************/
.about, .values, .fathers {
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about .box, .values .box, .fathers .box {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; }
    .about .box .box1, .values .box .box1, .fathers .box .box1 {
      width: 300px;
      background: #555555;
      border-radius: 20px;
      margin: 20px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      background: rgba(255, 255, 255, 0.1); }
    .about .box .box2, .values .box .box2, .fathers .box .box2 {
      width: 300px;
      background: #555555;
      border-radius: 20px;
      margin: 20px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      background: rgba(255, 255, 255, 0.1); }
    .about .box p, .values .box p, .fathers .box p {
      color: white;
      font-size: 1em;
      margin: 10px;
      padding: 10px;
      font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; }
    .about .box p::first-letter, .values .box p::first-letter, .fathers .box p::first-letter {
      font-size: 70px;
      float: left;
      line-height: 60px;
      padding-right: 8px;
      margin-top: -3px; }
  .about h1, .values h1, .fathers h1 {
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFB7;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    text-align: center;
    border-bottom-color: white;
    border-width: 1px;
    border-bottom-style: solid;
    word-spacing: 5px; }
  .about h1:hover, .values h1:hover, .fathers h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px; }

/*********************************************************************  VALUES *************************************************************************************/
.values .pillar_list {
  margin-top: 50px;
  padding-right: 40px;
  color: white;
  font-size: 1em;
  font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; }
  .values .pillar_list ul {
    list-style-type: none; }

.values .wrapper {
  width: 300px;
  height: 200px;
  margin: 0px auto;
  background-color: black;
  padding-top: 80px; }

.values .pillars {
  width: 180px;
  height: 118px;
  margin: 0 auto;
  position: relative; }

.values .pillar {
  width: 20px;
  height: 100%;
  margin: 0px 8px;
  background-color: white;
  float: left;
  opacity: 0; }

.values .mask {
  width: 180px;
  background-color: black;
  height: 45px;
  z-index: 100;
  clear: left;
  position: absolute;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%; }

.values .pillar1 {
  animation: anim 5s ease-out 0s infinite; }

.values .pillar2 {
  animation: anim2 5s ease-out 0s infinite; }

.values .pillar3 {
  animation: anim3 5s ease-out 0s infinite; }

.values .pillar4 {
  animation: anim4 5s ease-out 0s infinite; }

.values .pillar5 {
  animation: anim5 5s ease-out 0s infinite; }

@keyframes anim {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 1; }
  60% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes anim2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes anim3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes anim4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes anim5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/********************************************************************* FOUNDING FATHERS *************************************************************************************/
.container {
  position: relative;
  width: 50%;
  height: 20%;
  margin-top: 10%;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 12px 20px #dbdbdb; }

#slide {
  width: max-content;
  margin-top: 50px; }

.item {
  width: 20%;
  height: 60%;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 10px;
  box-shadow: 0 30px 50px #505050; }

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none; }

.item:nth-child(3) {
  left: 50%; }

.item:nth-child(4) {
  left: 70%; }

.item:nth-child(5) {
  left: 90%; }

.item:nth-child(n+6) {
  left: 100%;
  opacity: 0; }

.item .content {
  position: relative;
  top: 10%;
  left: 2%;
  width: 50%;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; }

.item:nth-child(2) .content {
  display: block;
  z-index: 11111; }

.item .name {
  font-size: 0.8rem;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards; }

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px); }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0); } }

.buttons {
  position: relative;
  top: 80%;
  bottom: 0;
  z-index: 222222;
  text-align: center;
  width: 100%; }

.buttons button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s; }

.buttons button:hover {
  background-color: #FFFFB7; }

.list {
  display: flex;
  padding-top: 50px;
  width: 90%;
  justify-content: space-evenly; }
  .list .list1, .list .list2 {
    color: white;
    font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    margin-right: 3%; }
    .list .list1 ul, .list .list2 ul {
      list-style-type: none; }

/********************************************************************* QUESTIONS *************************************************************************************/
.timeline {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none; }

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 90%;
  margin-left: -3px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 5; }

.timeline li {
  padding: 0.5em 0;
  height: 10%; }

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.direction-l {
  position: relative;
  width: 40%;
  float: left;
  text-align: right; }
  .direction-l .flag-wrapper {
    justify-content: flex-end; }
  .direction-l .flag {
    text-align: right; }

.direction-r {
  position: relative;
  width: 40%;
  float: right; }
  .direction-r .flag-wrapper {
    justify-content: flex-start; }
  .direction-r .flag {
    text-align: left; }

.flag-wrapper {
  position: relative;
  display: flex; }

.flag {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 10px;
  border-radius: 5px;
  text-align: left;
  font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: white;
  font-size: 0.9em;
  display: flex; }

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  line-height: 1.5em;
  font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: white; }

.direction-r .desc {
  margin: 1em 0 0 0.75em; }

.questions {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .questions h1 {
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFB7;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    text-align: center;
    border-bottom-color: white;
    border-width: 1px;
    border-bottom-style: solid;
    word-spacing: 5px; }
  .questions h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px; }

/********************************************************************* SOJU *************************************************************************************/
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.soju {
  background-image: url(images/soju/ezgif-frame-001.jpg);
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }

/********************************************************************* RECRUITMENT *************************************************************************************/
.recruitment {
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .recruitment h1 {
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFB7;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    text-align: center;
    border-bottom-color: white;
    border-width: 1px;
    border-bottom-style: solid;
    word-spacing: 5px; }
  .recruitment h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px; }
  .recruitment .box {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .recruitment .box p {
      color: white;
      font-size: 1em;
      margin: 10px;
      padding: 10px;
      font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
      text-align: center; }
    .recruitment .box .instagram__icon {
      width: 50px;
      margin: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .recruitment .instagram__icon:hover, .recruitment .instagram__icon:active {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }

/********************************************************************* FOOTER *************************************************************************************/
footer {
  height: 20%;
  background-color: black;
  color: white;
  font-family: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer p {
    text-align: center;
    font-size: 0.6em;
    margin-bottom: 0; }
  footer #frat_name {
    font-size: 0.8em;
    padding-bottom: 10px; }
  footer #designer {
    padding-bottom: 5px; }
  footer u {
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 0.01em solid white; }

/********************************************************************* SCROLLING DOWN ARROW *****************************************************************************/
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.arrow {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background-image: url("images/icons/arrow.png");
  background-size: contain;
  z-index: 999; }

.bounce {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite; }

.fade {
  opacity: 0;
  transition: 0.2s all ease-out; }

/********************************************************************* NEON ANIMATION *************************************************************************************/
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(255, 255, 183, 0.92), 0 0 30px rgba(255, 255, 183, 0.34), 0 0 12px rgba(255, 234, 183, 0.52), 0 0 21px rgba(255, 234, 183, 0.92), 0 0 34px rgba(255, 234, 183, 0.78), 0 0 54px rgba(255, 234, 183, 0.92); }
  to {
    text-shadow: 0 0 6px rgba(255, 255, 183, 0.98), 0 0 30px rgba(255, 255, 183, 0.42), 0 0 12px rgba(255, 234, 183, 0.58), 0 0 22px rgba(255, 234, 183, 0.84), 0 0 38px rgba(255, 234, 183, 0.88), 0 0 60px #ffeab7; } }

/********************************************************************* MEDIA QUERIES *************************************************************************************/
/**************************** SMALL / MEDIUM DEVICES ********************************/
@media (max-width: 899px) {
  #background-video-mobile {
    display: block;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }
  #background-video {
    visibility: hidden; }
  .tab__logo__icon {
    width: 50%;
    margin-bottom: -5px; }
  .tab {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    height: 8%; }
    .tab ul {
      padding-right: 0px;
      margin-right: -40px;
      margin-left: -80px;
      margin-top: 20px;
      margin-bottom: 25px; }
    .tab li {
      width: 120px;
      height: 10px;
      text-align: center; }
    .tab p {
      font-size: 0.75em;
      letter-spacing: 0.05em; } }
